.background{
    background-color: rgba(5, 4, 4, 0.185);
}
.text{
    text-shadow:rgb(255, 255, 255) 0.5px -1px 4px;
}
.font{
    font-family: 'Gabarito', cursive;
}

.contact {
    /* width: px; */
    /* height: px; */
    overflow: hidden;
}
.contact-body{
background-color: rgba(151, 152, 153, 0.144);
transition: 2s;
}

.contact:hover .contact-body{
    right: 0;
}
